html, body{
	overflow-x: 			hidden;
	height: 					100%;
	margin: 					0;
	padding: 					0;
}

#map {
	height: 					100%;
	background-color: red;
}

#summaryWrapper{
	margin-top: 			-17%;
	overflow: 				hidden;
}

.mini{
	background-color: white;
	position: 				relative;
	top: 							750px;
}

.mini p{
	border-top: 			4px double black;
}

.card {
	box-shadow: 			0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover{
	box-shadow: 			0 8px 16px 0 rgba(0,0,0,0.5);
}

.cardLink, .cardLink:hover{
	text-decoration: none;
	color: black;
}

#bottomWrapper img{
	width: 100%;
}

/*-------TEMP FOR IMAGE SHOWCASE TO GROUP---------*/
.imgPlaceholder{
	height: 					200px;
	padding: 					0 !important;

}
.imgPlaceholder:nth-child(2n+0){
	background-color: red;
}
.imgPlaceholder:nth-child(4n+0){
	background-color: blue;
}
.imgPlaceholder:nth-child(3n+0){
	background-color: green;
}
.imgPlaceholder:nth-child(1,5){
	background-color: yellow;
}
/*--------------------------------*/

#footer{
	background-color: 	#444444;
	color: 							rgba(255,255,255,.7);
}
